/*  your css code here. If applicable */
:root{
	background:rgb(135, 206, 235);
}
p:first-child{
	background-color:black;
	color:white;
	
}
p:nth-child(2){
	color:yellow;
}
p:last-child{
	color:red;
}
li{
	width:50%;
	padding:10px;
}
li:first-child,li:last-child{
	font-size:22px;
}
li:nth-last-child(3) {
    background-color: pink;
}

li:nth-child( even) {
	background-color:gray;
}
li:nth-child( odd) {
	background-color:white;
}